@{
    ViewBag.Title = "Supplier Scorecard";
}
<script src="~/Scripts/Merlin/serviceSupplierAnalysis.js?v=@System.Configuration.ConfigurationManager.AppSettings["APP_VERSION"]"></script>
<div id="supplierScorecard" class="padding-top-15">
    <div id="chipsContainer" class="padding-bottom-15">
    </div>
    <h1 class="no-margin padding-bottom-15 ">Supplier Scorecard &nbsp;<span class="btn btn-primary printAll" onclick="dashboardprintAll('Supplier Scorecard')">Print All</span></h1>

    <div class="pageContent hide" id="admin-user">
        Please <strong>@Html.ActionLink("click here", "MemberProfile", "Admin")</strong> to select the client you want to see the report
    </div>
    <div class="pageContent hide" id="no-survey-data">
        No survey data exists. Please contact administrator
    </div>
    <div class="row" id="data-avail">

        <div class="col-md-12 margin-bottom-20 hidden-print">
            <div class="pageContent">
                <div class="no-margin-bottom">
                    <div class="row">
                        <div class="col-sm-12  col-md-3">
                            <label class="padding-bottom-5">Category</label><br />
                            <select class="form-control" id="ddl-category"></select>
                        </div>
                        <div class="col-sm-12  col-md-3">
                            <label class="padding-bottom-5">Supplier</label><br />
                            <select class="form-control" id="ddl-supplier"></select>
                        </div>
                        <div class="col-sm-12  col-md-3">
                            <label class="padding-bottom-5">Demographic</label><br />
                            <select class="form-control" id="ddl-demographic">
                                <option value="0">-- Select Demographic --</option>
                                <option value="1">Functional Area</option>
                                <option value="2">Level</option>
                                <option value="3">Location</option>
                            </select>
                        </div>
                        <div class="col-sm-12  col-md-3">
                            <label class="padding-bottom-5"><span id="demographic-title" class="inlineBlock"></span></label><br />
                            <select class="form-control" id="ddl-demographicOptions"><option value="0">-- Select --</option></select>
                        </div>
                    </div>
                </div>
            </div>

        </div>



        <div class="col-md-12 margin-bottom-20 h3" id="selected_filter">
            >> <span class="supplierName"></span><span class="subTitleCat"></span><span class="subTitleDemographic"></span>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-12 col-md-6  margin-bottom-20 myHalfColLeft">
                    <div class="chartBody" id="supplierOverallContainer">
                        <div class="chartTitle">
                            <span> Overall Supplier Scores</span>
                            <div class="dropdown pull-right exportBtn">
                                <i class="fa fa-download pull-right chartIcon" data-toggle="dropdown">&nbsp;Download</i>
                                <ul class="dropdown-menu" id="supplierOverallExport">
                                    <li><a href="#" onclick="exportHighchart(this, 'pptx','supplierOverallContainer')">Powerpoint<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>
                                    <li><a href="#" onclick="exportHighchart(this, 'pdf','supplierOverallContainer')">PDF<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>
                                </ul>
                            </div>
                            <i id="supplierOverallPrint" class="fa fa-print pull-right chartIcon" aria-hidden="true" onclick="dashboardprint('supplierOverallContainer')">&nbsp;Print</i>
                        </div>
                        <div class="chartSubTitle" id="chartSubTitle">Average Rating</div>
                        <div class="hchart height-300 width-100" id="supplieroverallScore"></div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 margin-bottom-20 myHalfColRight">
                    <div class="chartBody" id="supplierMetricContainer">
                        <div class="chartTitle">
                            <span>Supplier Metric Scores</span>
                            <i class="fa fa fa-search-plus zoomIn pull-right chartIcon" id="supplierMetricZoom" onclick="zoom('supplierMetric',true)">&nbsp;Zoom</i>
                            <div class="dropdown pull-right exportBtn">
                                <i class="fa fa-download pull-right chartIcon" data-toggle="dropdown">&nbsp;Download</i>
                                <ul class="dropdown-menu" id="supplierMetricExport">
                                    <li><a href="#" onclick="exportHighchart(this, 'pptx','supplierMetricContainer')">Powerpoint<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>
                                    <li><a href="#" onclick="exportHighchart(this, 'pdf','supplierMetricContainer')">PDF<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>
                                    <li><a href="#" onclick="exportHighchart(this, 'excel','supplierMetricContainer')">Excel<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>
                                </ul>
                            </div>
                            <i id="supplierMetricPrint" class="fa fa-print pull-right chartIcon" aria-hidden="true" onclick="dashboardprint('supplierMetricContainer','Supplier Scorecard')">&nbsp;Print</i>
                        </div>
                        <div class="chartSubTitle" id="chartSubTitle">Average Rating</div>
                        <div class="hchart height-300 width-100" id="supplierMetric"></div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 margin-bottom-20">
            <div class="chartBody" id="supplierKPIContainer">
                <div class="chartTitle">
                    <span>Supplier KPI Scores</span>
                    <div class="dropdown pull-right exportBtn">
                        <i class="fa fa-download pull-right chartIcon" data-toggle="dropdown">&nbsp;Download</i>
                        <ul class="dropdown-menu" id="supplierKPIExport">
                            <li><a href="#" class="export-pdf" id="btnPdfKPIExport">PDF<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>
                            <li><a href="#" onclick="exportHighchart(this, 'excel','supplierKPIContainer')">Excel<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>
                        </ul>
                    </div>
                    <i id="supplierKPIPrint" class="fa fa-print pull-right chartIcon" aria-hidden="true" onclick="dashboardprint('supplierKPIContainer','Supplier Scorecard')">&nbsp;Print</i>
                    <i class="chartIcon expandCollapseIcon" onclick="expandCollapse('grid-supplier-scorebyKPI')"><img src=" ~/Images/expand_collapse.png" /><div class="expandCollapseText">Collapse</div></i>
                </div>
                <div class="chartSubTitle" id="chartSubTitle"> Average Rating</div>
                <div class="table width-100 tableChart customKendoTabel margin-top-8" id="gridSupplierScoreByKPIKendoTabel">
                    <div class="margin-7 no-margin-top" id="grid-supplier-scorebyKPI"></div>
                </div>
            </div>
        </div>

        <div class="col-md-12 margin-bottom-20">
            <div class="chartBody" id="supplierCommentsContainer">
                <div class="chartTitle">
                    <span> Internal Comments</span>
                    <div class="dropdown pull-right exportBtn">
                        <i class="fa fa-download pull-right chartIcon" data-toggle="dropdown">&nbsp;Download</i>
                        <ul class="dropdown-menu" id="supplierCommentsExport">
                            <li><a href="#" class="export-pdf" id="btnPdfExport">PDF<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>
                            <li><a href="#" onclick="exportGridData(this, 'excel')">Excel<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>
                        </ul>
                    </div>
                    <i id="supplierCommentsPrint" class="fa fa-print pull-right chartIcon" aria-hidden="true" onclick="dashboardprint('supplierCommentsContainer','Supplier Scorecard')">&nbsp;Print</i>
                    <i class="chartIcon expandCollapseIcon" onclick="expandCollapse('grid-supplier-comments')"><img src=" ~/Images/expand_collapse.png" /><div class="expandCollapseText">Expand</div></i>
                </div>
                <div class="chartSubTitle"></div>
                <div class="table width-100 tableChart customKendoTabel margin-top-8" id="gridSupplierKendoTabel">
                    <div class="margin-7 margin-top-5" id="grid-supplier-comments"></div>
                </div>
            </div>
        </div>


    </div>
</div>
<script>
    if (localStorage.getItem("breadcrumb") != null) {
        var breadcrumb = JSON.parse(localStorage.getItem("breadcrumb"));
        var element = ''; var removecurrentPage = false; var index = -1;
        for (var i = 0; i < breadcrumb.length; i++) {
            var textvar = '', value = '';
            for (var k in breadcrumb[i]) {
                textvar = k;
                value = breadcrumb[i][k];
            }
            if (textvar == 'Supplier Scorecard') {
                removecurrentPage = true; index = i;
            } else
                element += '<div class="chips" id="chipsPerception" title="Click here to navigate to ' + textvar + ' page"><a href="' + value + '"> ' + textvar + ' </a></div>';
        }
        $("#chipsContainer").html(element);
        if (removecurrentPage)
            breadcrumb.splice(index, 1);
        breadcrumb.push({ "Supplier Scorecard": '@Url.Action("SupplierScorecard", "SupplierAnalysis")' });
        localStorage.setItem("breadcrumb", JSON.stringify(breadcrumb));
    }
    var companyId = ('@Session["isAdmin"]' == 'True' ? localStorage.getItem("selectedMember") : '@Session["CompanyId"]');
    var supplierId = '@ViewBag.SupplierId';

    $(document).ready(function () {

        //check is admin and survey data availability
        if (pageInit(companyId, '@Session["isAdmin"]') == true) {
            var selElement = $("#ddl-demographic");
            selElement.attr("disabled", true);

            selElement = $("#ddl-demographicOptions");
            selElement.empty();
            selElement.append($("<option />").val(0).text('-- Select --'));
            selElement.attr("disabled", true);

            /*
            var categoryId = supplierId == 0 ? $("#ddl-category").val() : 0;
                getSupplier(companyId, supplierId, categoryId, function () {
                    getScore();
                   //loadComments(companyId);
                    var categorySel = $("#ddl-category option:selected").text();
                    $("#selected_filter .subTitleCat").text(", Category: " + categorySel);
                    $("#selected_filter .supplierName").text($("#ddl-supplier option:selected").text());
                    $("#selectedSupplier").val($("#ddl-supplier").val());
                });
            */
            getLookup(companyId, 'Category', function () {
                $("#page-spinner").show();
                if (localStorage.getItem("categoryId") != null && supplierId == 0) {//localStorage.getItem("sc_categoryId") != null
                    loadfromLocalStorage();
                } else {
                    var categoryId = localStorage.getItem("categoryId") ? localStorage.getItem("categoryId") : $("#ddl-category").val();//supplierId == 0 ? $("#ddl-category").val() : 0;
                    console.log(categoryId);
                    getSupplier(companyId, supplierId, categoryId, function () {
                        getScore();
                        if (supplierId != 0) {
                            localStorage.setItem("categoryId", $("#ddl-category").val())
                            localStorage.setItem("sc_supplierId", $("#ddl-supplier").val());
                        }
                        var categorySel = $("#ddl-category option:selected").text();
                        $("#selected_filter .subTitleCat").text(", Category: " + categorySel);
                        $("#selected_filter .supplierName").text($("#ddl-supplier option:selected").text());
                        $("#selectedSupplier").val($("#ddl-supplier").val());
                    });
                }
            });
        }
    });

    function loadfromLocalStorage() {
        var categoryId = localStorage.getItem("categoryId");//localStorage.getItem("sc_categoryId");
        var supplierId = "0";
        $("#ddl-category").val(categoryId);
        getSupplier(companyId, supplierId, categoryId, function () {
            if (localStorage.getItem("sc_supplierId"))
                $("#ddl-supplier").val(localStorage.getItem("sc_supplierId"));
            var categorySel = $("#ddl-category option:selected").text();
            $("#selected_filter .subTitleCat").text(", Category: " + categorySel);
            $("#selected_filter .supplierName").text($("#ddl-supplier option:selected").text());
            $("#selectedSupplier").val($("#ddl-supplier").val());
            getScore();
            //if (localStorage.getItem("sc_demographic") != null) {
            //    $("#ddl-demographic").val(localStorage.getItem("sc_demographic"));
            //    getDemographic(companyId, function () {
            //        if (localStorage.getItem("sc_demographicOption") != null)
            //            $("#ddl-demographicOptions").val(localStorage.getItem("sc_demographicOption"));
            //        $("#ddl-demographicOptions").removeAttr("disabled");
            //        getScore();
            //    });
            //} else {
            //    getScore();

            //}
        });
    }

    $("#ddl-category").change(function () {
        $("#page-spinner").show();
        var selValue = this.value;
        var selCate = $("#ddl-category option:selected").text();
        $("#selected_filter .supplierName").text("");
        $("#selectedSupplier").val('');
        $("#selected_filter .subTitleDemographic").text("");
        $("#selected_filter .subTitleCat").text(", Category: " + selCate);

        $("#ddl-demographic").val(0);
        $("#ddl-demographicOptions").empty();
        $("#ddl-demographicOptions").append($("<option />").val(0).text('-- Select --'))
        $("#ddl-demographicOptions").attr("disabled", true);

        //localStorage.setItem("sc_categoryId", selValue);
        //localStorage.setItem("ca_categoryId", selValue);

        localStorage.setItem("categoryId", selValue);

        localStorage.removeItem("sc_supplierId");
        localStorage.removeItem("ca_metricId");
        localStorage.removeItem("ca_kpiId");
        //localStorage.removeItem("sc_demographic");
        //localStorage.removeItem("sc_demographicOption");
        getSupplier(companyId, "0", $("#ddl-category").val(), function () {
            $("#selected_filter .supplierName").text($("#ddl-supplier option:selected").text());
            $("#selectedSupplier").val($("#ddl-supplier").val());
            localStorage.setItem("sc_supplierId", $("#ddl-supplier").val());
            isSortedAsc["supplierMetric"] = false;
            getScore();
        });//based on selected category
    });

    $("#ddl-supplier").change(function () {
        var selValue = this.value;
        var text = $("#ddl-supplier option:selected").text();
        $("#subTitleDemographic").text("");

        $("#ddl-demographic").val(0);
        $("#ddl-demographicOptions").empty();
        $("#ddl-demographicOptions").append($("<option />").val(0).text('-- Select --'))
        $("#ddl-demographicOptions").attr("disabled", true);

        $("#selectedSupplier").val($("#ddl-supplier").val());
        $("#selected_filter .supplierName").text(text);

        //localStorage.setItem("sc_categoryId", $("#ddl-category").val());
        //localStorage.setItem("ca_categoryId", $("#ddl-category").val());

        localStorage.setItem("categoryId", $("#ddl-category").val());
        localStorage.setItem("sc_supplierId", $("#ddl-supplier").val());
        //localStorage.removeItem("sc_demographic");
        //localStorage.removeItem("sc_demographicOption");

        isSortedAsc["supplierMetric"] = false;
        getScore();
    });

    $("#ddl-demographic").change(function () {
        var selValue = this.value;
        $("#selected_filter .subTitleDemographic").text('');

        if (selValue !== "0") {
            $("#page-spinner").show();
            if ($("#ddl-demographicOptions").val() !== "0") {
                $("#ddl-demographicOptions").empty();
                $("#ddl-demographicOptions").append($("<option />").val(0).text('-- Select --'));
                $("#demographic-title").text("");
                $("#ddl-demographicOptions").attr("disabled", true);
                //getScore();
            }
            getDemographic(companyId, function (itemcount) {
                if (itemcount != 0) {
                    $("#ddl-demographicOptions").removeAttr("disabled");
                    $("#ddl-demographicOptions option:eq(1)").attr('selected', 'selected');
                    getScore();
                    var textDis = ", Demographic: " + $("#ddl-demographicOptions option:selected").text();
                    $("#selected_filter .subTitleDemographic").text(textDis);
                    //localStorage.setItem("sc_demographicOption", $("#ddl-demographicOptions").val());
                } else {
                    //localStorage.removeItem("sc_demographicOption");
                    selElement.append($("<option />").val(0).text('-- Select --'));
                    $("#selected_filter .subTitleDemographic").text("");
                    getScore();
                }
            });
            //localStorage.setItem("sc_demographic", selValue);
        } else {
            $("#ddl-demographicOptions").empty();
            $("#ddl-demographicOptions").append($("<option />").val(0).text('-- Select --'));
            $("#demographic-title").text("");
            $("#ddl-demographicOptions").attr("disabled", true);
            getScore();
            //localStorage.removeItem("sc_demographic");
            //localStorage.removeItem("sc_demographicOption");
        }
    });

    $("#ddl-demographicOptions").change(function () {
        $("#page-spinner").show();
        var selValue = this.value;
        if (selValue !== "0") {
            isSortedAsc["supplierMetric"] = false;
            getScore();
            var textDis = ", Demographic: " + $("#ddl-demographicOptions option:selected").text();
            $("#selected_filter .subTitleDemographic").text(textDis);
            //localStorage.setItem("sc_demographicOption", selValue);
        }
        else {
            $("#selected_filter .subTitleDemographic").text('');
            //localStorage.removeItem("sc_demographicOption");
            isSortedAsc["supplierMetric"] = false;
            getScore();
        }
        //localStorage.setItem("sc_demographic", $("#ddl-demographic").val());
        //localStorage.setItem("sc_categoryId", $("#ddl-category").val());
        //localStorage.setItem("ca_categoryId", $("#ddl-category").val());

        localStorage.setItem("categoryId", $("#ddl-category").val());
        localStorage.setItem("sc_supplierId", $("#ddl-supplier").val());
    });

    function getScore() {
        if ($("#ddl-category").val() == undefined || $("#ddl-supplier").val() == undefined) {
            $("#page-spinner").hide();
            failureAlert('Please select category and supplier to view the reports');
            return;
        }
        getSupplierScore(companyId);
        getSupplierScoreByMetric(companyId);
        getSupplierScoreByKPI(companyId);
        loadComments(companyId);
    }

    kendo.pdf.defineFont({
        "DejaVu Sans": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans.ttf",
        "DejaVu Sans|Bold": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Bold.ttf",
        "DejaVu Sans|Bold|Italic": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
        "DejaVu Sans|Italic": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
        "WebComponentsIcons": "https://kendo.cdn.telerik.com/2017.1.223/styles/fonts/glyphs/WebComponentsIcons.ttf"
    });

    $("#btnPdfExport").kendoButton({
        click: function () {
            if (excelComments.length == 0)
                failureAlert("No comments to export")
            else {
                processKendoForExport(function () {
                    $("#btnPdfExport").find(".fa").removeClass("hide");
                    $("#kendo-export-div").removeClass("hide");
                    var setLeftvalue = $("#kendo-export-div").width() + $("#sideBarMain").width() + 100;
                    $("#kendo-export-div").css("left", setLeftvalue + "px");
                    $("#grid-supplier-comments").getKendoGrid().saveAsPDF().done(function () {
                        $("#kendo-export-div").addClass("hide");
                        $("#grid-supplier-comments .k-i-collapse").trigger("click")
                        $("#btnPdfExport").find(".fa").addClass("hide");
                    });
                });
            }
        }
    });

    $("#btnPdfKPIExport").kendoButton({
        click: function () {
            processKPIKendoForExport(function () {
                $("#btnPdfKPIExport").find(".fa").removeClass("hide");
                $("#kendo-export-div").removeClass("hide");
                var setLeftvalue = $("#kendo-export-div").width() + $("#sideBarMain").width() + 100;
                $("#kendo-export-div").css("left", setLeftvalue + "px");
                $("#grid-supplier-scorebyKPI").getKendoGrid().saveAsPDF().done(function () {
                    $("#kendo-export-div").addClass("hide");
                    //$("#grid-supplier-scorebyKPI .k-i-collapse").trigger("click");
                    $("#btnPdfKPIExport").find(".fa").addClass("hide");
                });
            });
        }
    });


    //function collapseAll(id) {
    //    $("#" + id).find(".k-icon.k-i-collapse").trigger("click");
    //}

    //function expandAll(id) {
    //    $("#" + id).find(".k-icon.k-i-expand").trigger("click");
    //}

    //function expandCollapse(id) {
    //    var collapse = $("#" + id).find(".k-icon.k-i-collapse");
    //    if (collapse.length > 0) {
    //        $("#" + id).find(".k-icon.k-i-collapse").trigger("click");
    //    }
    //    else {
    //        $("#" + id).find(".k-icon.k-i-expand").trigger("click");
    //    }
    //}
</script>
