@{
    ViewBag.Title = "Trend Analysis";
}
@*<script src="~/Scripts/Merlin/sharedHighchartObj.js"></script>*@
<script src="~/Scripts/Merlin/serviceAPITrendAnalysis.js?v=@System.Configuration.ConfigurationManager.AppSettings["APP_VERSION"]"></script>
@*<script src="~/Scripts/solid-gauge.src.js"></script>*@
@*<script src="~/Scripts/jszip.js"></script>*@

<div id="trendAnalysis" class="padding-top-15">
    <div id="chipsContainer" class="padding-bottom-15">
    </div>
    <h1 class="no-margin padding-bottom-15 ">Trend Analysis &nbsp;<span class="btn btn-primary printAll" onclick="dashboardprintAll('Trend Analysis')">Print All</span></h1>
    <div class="pageContent hide" id="admin-user">
        Please <strong>@Html.ActionLink("click here", "MemberProfile", "Admin")</strong> to select the client you want to see the report
    </div>
    <div class="pageContent hide" id="no-survey-data">
        No survey data exists. Please contact administrator
    </div>
    <div class="row" id="data-avail">
        <div class="col-md-12 margin-bottom-20 hidden-print">
            <div class="pageContent">
                <div class="no-margin-bottom">
                    <div class="row">
                        <div class="col-sm-12  col-md-3">
                            <label class="padding-bottom-5">Category</label><br />
                            <select class="form-control" id="ddl-category"></select>
                        </div>
                        <div class="col-sm-12  col-md-3">
                            <label class="padding-bottom-5">Supplier</label><br />
                            <select class="form-control" id="ddl-supplier"></select>
                        </div>
                        @*<div class="col-sm-12  col-md-3">
                                <label class="padding-bottom-5">Time Period</label><br />
                                <div class="form-control">
                                    <input type="checkbox" class="form-control checkboxFilter" id="chk_timeperiod" checked style="display: inline; width: 17px;" /> Show data over time
                                </div>
                            </div>*@
                        <div class="col-sm-12  col-md-3">
                            <label class="padding-bottom-5">Time Period</label><br />
                            <div class="form-control">
                                <input type="checkbox" class="form-control checkboxFilter" id="chk_timeperiod" checked style="display: inline; width: 17px;" /> Show data over time
                            </div>
                        </div>
                        <div class="col-sm-12  col-md-3">
                            <label class="padding-bottom-5">&nbsp;</label><br />
                            <select id="ddl-timeperiod" disabled class="form-control width-100 grayoutSelectedTimeoreiod">
                            <option value="All">-- All Time periods --</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 margin-bottom-20 h3" id="selected_filter">
            >> <span class="supplierName"></span><span class="subTitleCat"></span><span class="subTitleDemographic"></span>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-12 col-md-6 margin-bottom-20 allTimePeriod myHalfColLeft">
                    <div class="chartBody" id="timeSeriesOverallContainer">
                        <div class="chartTitle">
                            <span>Overall Supplier Trends</span>
                            <i class="fa fa fa-search-plus zoomIn pull-right chartIcon" id="timeSeriesOverallScoreZoom" onclick="zoom('timeSeriesOverallSupplier', false)">&nbsp;Zoom</i>

                            <div class="dropdown pull-right exportBtn">
                                <i class="fa fa-download pull-right chartIcon" data-toggle="dropdown">&nbsp;Download</i>
                                <ul class="dropdown-menu" id="timeSeriesOverallExport">
                                    <li><a href="#" onclick="exportHighchart(this, 'pptx', 'timeSeriesOverallContainer')">Powerpoint<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>
                                    <li><a href="#" onclick="exportHighchart(this, 'pdf', 'timeSeriesOverallContainer')">PDF<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>
                                    <li><a href="#" onclick="exportHighchart(this, 'excel', 'timeSeriesOverallContainer')">Excel<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>
                                </ul>
                            </div>
                            <i id="timeSeriesOverallPrint" class="fa fa-print pull-right chartIcon" aria-hidden="true" onclick="dashboardprint('timeSeriesOverallContainer','Trend Analysis')">&nbsp;Print</i>
                        </div>
                        <div class="chartSubTitle"></div><br />
                        <div class="hchart height-300 width-100" id="timeSeriesOverallSupplier"></div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 margin-bottom-20 selectedTimePeriod myHalfColLeft" style="display:none">
                    <div class="chartBody" id="donutOverallContainer">
                        <div class="chartTitle">
                            <span> Overall Supplier Score</span>
                            <div class="dropdown pull-right exportBtn">
                                <i class="fa fa-download pull-right chartIcon" data-toggle="dropdown">&nbsp;Download</i>
                                <ul class="dropdown-menu" id="donutOverallExport">
                                    <li><a href="#" onclick="exportHighchart(this, 'pptx', 'donutOverallContainer')">Powerpoint<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>
                                    <li><a href="#" onclick="exportHighchart(this, 'pdf', 'donutOverallContainer')">PDF<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>
                                </ul>
                            </div>
                            <i id="donutOverallPrint" class="fa fa-print pull-right chartIcon" aria-hidden="true" onclick="dashboardprint('donutOverallContainer','Trend Analysis')">&nbsp;Print</i>
                        </div>
                        <div class="chartSubTitle" id="chartSubTitle">Time Period: <span class="selTimePeriod"></span></div>
                        <div class="hchart height-300 width-100" id="donutOverallSupplier"></div>
                    </div>
                </div>


                <div class="col-md-6 margin-bottom-20 allTimePeriod myHalfColRight">
                    <div class="chartBody" id="timeSeriesMetricTrendsContainer">
                        <div class="chartTitle">
                            <span> Metric Trends</span>
                            <i class="fa fa fa-search-plus zoomIn pull-right chartIcon" id="timeSeriesMetricTrendsZoom"  onclick="zoom('timeSeriesMetricTrends', false)">&nbsp;Zoom</i>
                            <div class="dropdown pull-right exportBtn">
                                <i class="fa fa-download pull-right chartIcon" data-toggle="dropdown">&nbsp;Download</i>
                                <ul class="dropdown-menu" id="timeSeriesMetricTrendsExport">
                                    <li><a href="#" onclick="exportHighchart(this, 'pptx', 'timeSeriesMetricTrendsContainer')">Powerpoint<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>
                                    <li><a href="#" onclick="exportHighchart(this, 'pdf', 'timeSeriesMetricTrendsContainer')">PDF<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>
                                    <li><a href="#" onclick="exportHighchart(this, 'excel', 'timeSeriesMetricTrendsContainer')">Excel<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>

                                </ul>
                            </div>
                            <i id="timeSeriesMetricTrendsPrint" class="fa fa-print pull-right chartIcon" aria-hidden="true" onclick="dashboardprint('timeSeriesMetricTrendsContainer','Trend Analysis')">&nbsp;Print</i>
                        </div>
                        <div class="chartSubTitle"></div><br />
                        <div class="hchart height-300 width-100" id="timeSeriesMetricTrends"></div>
                    </div>
                </div>


                <div class="col-md-6 margin-bottom-20 selectedTimePeriod myHalfColRight" style="display:none">
                    <div class="chartBody" id="selectedMetricTrendsContainer">
                        <div class="chartTitle">
                            <span> Supplier Metric Scores</span>
                            <i class="fa fa fa-search-plus zoomIn pull-right chartIcon" id="timeSeriesMetricTrendsZoom" onclick="zoom('selectedMetricTrends', false)">&nbsp;Zoom</i>
                            <div class="dropdown pull-right exportBtn">
                                <i class="fa fa-download pull-right chartIcon" data-toggle="dropdown">&nbsp;Download</i>
                                <ul class="dropdown-menu" id="selectedMetricTrendsExport">
                                    <li><a href="#" onclick="exportHighchart(this, 'pptx', 'selectedMetricTrendsContainer')">Powerpoint<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>
                                    <li><a href="#" onclick="exportHighchart(this, 'pdf', 'selectedMetricTrendsContainer')">PDF<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>
                                    <li><a href="#" onclick="exportHighchart(this, 'excel', 'selectedMetricTrendsContainer')">Excel<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>

                                </ul>
                            </div>
                            <i id="selectedMetricTrendsPrint" class="fa fa-print pull-right chartIcon" aria-hidden="true" onclick="dashboardprint('selectedMetricTrendsContainer','Trend Analysis')">&nbsp;Print</i>
                        </div>
                        <div class="chartSubTitle" id="chartSubTitle">Time Period: <span class="selTimePeriod"></span></div>
                        <div class="hchart height-300 width-100" id="selectedMetricTrends"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 margin-bottom-20 allTimePeriod">
            <div class="chartBody" id="timeSeriesKPITrendsContainer">
                <div class="chartTitle">
                    <span>KPI Trends</span>
                    <div class="dropdown pull-right exportBtn">
                        <i class="fa fa-download pull-right chartIcon" data-toggle="dropdown">&nbsp;Download</i>
                        <ul class="dropdown-menu" id="timeSeriesKPITrendsExport">
                            <li><a href="#" class="export-pdf" id="btnPdfKPIExportAll">PDF<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>
                            <li><a href="#" onclick="exportGridData(this, 'excel')">Excel<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>
                        </ul>
                    </div>
                    <i id="timeSeriesKPITrendsPrint" class="fa fa-print pull-right chartIcon" aria-hidden="true" onclick="dashboardprint('timeSeriesKPITrendsContainer','Trend Analysis')">&nbsp;Print</i>
                    <i class="chartIcon expandCollapseIcon" onclick="expandCollapse('grid-kpi-trends-all')" ><img src=" ~/Images/expand_collapse.png" /><div class="expandCollapseText">Collapse</div></i>

                </div>
                <div class="chartSubTitle"></div>
                <div class="table width-100 tableChart customKendoTabel margin-top-8" id="timeSeriesKPITrends">
                    <div class="margin-7 margin-top-5" id="grid-kpi-trends-all"></div>
                </div>
            </div>
        </div>

        <div class="col-md-12 margin-bottom-20 selectedTimePeriod" style="display:none">
            <div class="chartBody" id="selectedKPITrendsContainer">
                <div class="chartTitle">
                    <span>Supplier KPI Scores</span>
                    <div class="dropdown pull-right exportBtn">
                        <i class="fa fa-download pull-right chartIcon" data-toggle="dropdown">&nbsp;Download</i>
                        <ul class="dropdown-menu" id="selectedKPITrendsExport">
                            <li><a href="#" class="export-pdf" id="btnPdfKPIExport">PDF<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>
                            <li><a href="#" onclick="exportGridData(this, 'excel')">Excel<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>
                        </ul>
                    </div>
                    <i id="selectedKPITrendsPrint" class="fa fa-print pull-right chartIcon" aria-hidden="true" onclick="dashboardprint('selectedKPITrendsContainer','Trend Analysis')">&nbsp;Print</i>
                    <i class="chartIcon expandCollapseIcon" onclick="expandCollapse('grid-kpi-trends')" ><img src=" ~/Images/expand_collapse.png" /><div class="expandCollapseText">Collapse</div></i>

                </div>
                <div class="chartSubTitle" id="chartSubTitle">Time Period: <span class="selTimePeriod"></span></div>
                <div class="table width-100 tableChart customKendoTabel margin-top-8" id="selectedKPITrendsKendoTabel">
                    <div class="margin-7 margin-top-5" id="grid-kpi-trends"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    if (localStorage.getItem("breadcrumb") != null) {
        var breadcrumb = JSON.parse(localStorage.getItem("breadcrumb"));
        var element = ''; var removecurrentPage = false; var index = -1;
        for (var i = 0; i < breadcrumb.length; i++) {
            var textvar = '', value = '';
            for (var k in breadcrumb[i]) {
                textvar = k;
                value = breadcrumb[i][k];
            }
            if (textvar == 'Trend Analysis') {
                removecurrentPage = true; index = i;
            } else
                element += '<div class="chips" id="chipsPerception" title="Click here to navigate to ' + textvar + ' page"><a href="' + value + '"> ' + textvar + ' </a></div>';
        }
        $("#chipsContainer").html(element);
        if (removecurrentPage)
            breadcrumb.splice(index, 1);
        breadcrumb.push({ "Trend Analysis": '@Url.Action("TrendAnalysis", "SupplierAnalysis")' });
        localStorage.setItem("breadcrumb", JSON.stringify(breadcrumb));
    }
    var companyId = ('@Session["isAdmin"]' == 'True' ? localStorage.getItem("selectedMember") : '@Session["CompanyId"]');
    var supplierId = "0";// $("#selectedSupplier").val().length==0 ?"0" : $("#selectedSupplier").val();
    $(document).ready(function () {
        //check is admin and survey data availability
        if (pageInit(companyId, '@Session["isAdmin"]') == true) {
            getAvailableTimePeriods(companyId, function () {
                getLookup(companyId, 'Category', function () {
                    $("#page-spinner").show();
                    if (localStorage.getItem("categoryId") !== null) {//localStorage.getItem("sc_categoryId") !== null
                        loadfromLocalStorage();
                    } else {
                        getSupplier(companyId, supplierId, $("#ddl-category").val(), function () {
                            var categorySel = $("#ddl-category option:selected").text();
                            $("#selected_filter .subTitleCat").text(", Category: " + categorySel);
                            $("#selected_filter .supplierName").text($("#ddl-supplier option:selected").text());
                            $(".selTimePeriod").text($("#ddl-timeperiod").val());
                            getScore();
                        });
                    }
                });
            });
        }
    });

    function loadfromLocalStorage() {
        var categoryId = localStorage.getItem("categoryId");//localStorage.getItem("sc_categoryId");
        $("#ddl-category").val(categoryId);
        getSupplier(companyId, "0", categoryId, function () {
            if (localStorage.getItem("sc_supplierId"))
                $("#ddl-supplier").val(localStorage.getItem("sc_supplierId"));
            getScore();
            var categorySel = $("#ddl-category option:selected").text();
            $("#selected_filter .subTitleCat").text(", Category: " + categorySel);
            $("#selected_filter .supplierName").text($("#ddl-supplier option:selected").text());
            $("#selectedSupplier").val($("#ddl-supplier").val());
        });
    }

    $("#ddl-category").change(function () {
        $("#page-spinner").show();
        var selValue = this.value;
        var selCate = $("#ddl-category option:selected").text();
        $("#selected_filter .subTitleCat").text(", Category: " + selCate);
        $("#selected_filter .supplierName").text("");
        //localStorage.setItem("sc_categoryId", selValue);
        //localStorage.setItem("ca_categoryId", selValue);

        localStorage.setItem("categoryId", selValue);
        localStorage.removeItem("sc_supplierId");
        localStorage.removeItem("ca_metricId");
        localStorage.removeItem("ca_kpiId");
        getSupplier(companyId, supplierId, $("#ddl-category").val(), function () {
            $("#selected_filter .supplierName").text($("#ddl-supplier option:selected").text());
            $(".selTimePeriod").text($("#ddl-timeperiod").val());
            localStorage.setItem("sc_supplierId", $("#ddl-supplier").val());
            getScore();
        });
    });

    $("#ddl-supplier").change(function () {
        var selValue = this.value;
        var text = $("#ddl-supplier option:selected").text();
        $("#selected_filter .supplierName").text(text);
        //localStorage.setItem("sc_categoryId", $("#ddl-category").val());
        //localStorage.setItem("ca_categoryId", $("#ddl-category").val());

        localStorage.setItem("categoryId", $("#ddl-category").val());
        localStorage.setItem("sc_supplierId", $("#ddl-supplier").val());
        getScore();
    });


    $("#ddl-timeperiod").change(function () {
        $(".selTimePeriod").text($("#ddl-timeperiod").val());
        if (this.value == "All") {
            $('#chk_timeperiod').prop("checked", true);
            $("#ddl-timeperiod").addClass("grayoutSelectedTimeoreiod").attr("disabled", "disabled");
        }
        getScore();
    });

    function getScore() {
        if ($("#ddl-category").val() == undefined || $("#ddl-supplier").val() == undefined) {
            $("#page-spinner").hide();
            failureAlert('Please select category and supplier to view the reports');
            return;
        }
        //$("#grid-kpi-trends-all").data('kendoGrid').refresh();
        $("#grid-kpi-trends-all").empty()
        getOverallScore(companyId);
        getMetricsScore(companyId);
        getKPIScore(companyId);
    }

    $('#chk_timeperiod').change(function () {
        if ($(this).is(":checked")) {
            $("#ddl-timeperiod").addClass("grayoutSelectedTimeoreiod").attr("disabled", "disabled");
            $("#ddl-timeperiod").val("All").trigger('change');
        } else {
            $("#ddl-timeperiod").prop("selectedIndex", 0);
            $(".selTimePeriod").text($("#ddl-timeperiod").val());
            $("#ddl-timeperiod").removeClass("grayoutSelectedTimeoreiod").removeAttr("disabled");
            getScore();
        }
    });

    kendo.pdf.defineFont({
        "DejaVu Sans": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans.ttf",
        "DejaVu Sans|Bold": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Bold.ttf",
        "DejaVu Sans|Bold|Italic": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
        "DejaVu Sans|Italic": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
        "WebComponentsIcons": "https://kendo.cdn.telerik.com/2017.1.223/styles/fonts/glyphs/WebComponentsIcons.ttf"
    });

    //btnPdfKPIExportAll
    $("#btnPdfKPIExport").kendoButton({
        click: function () {
            processKPIKendoForExport(function () {
                $("#btnPdfKPIExport").find(".fa").removeClass("hide");
                $("#kendo-export-div").removeClass("hide");
                var setLeftvalue = $("#kendo-export-div").width() + $("#sideBarMain").width() + 100;
                $("#kendo-export-div").css("left", setLeftvalue + "px");
                $("#grid-kpi-trends").getKendoGrid().saveAsPDF().done(function () {
                    $("#kendo-export-div").addClass("hide");
                    //$("#grid-supplier-scorebyKPI .k-i-collapse").trigger("click");
                    $("#btnPdfKPIExport").find(".fa").addClass("hide");
                });
            });
        }
    });

    $("#btnPdfKPIExportAll").kendoButton({
        click: function () {
            processKPIKendoForExport(function () {
                $("#btnPdfKPIExportAll").find(".fa").removeClass("hide");
                $("#kendo-export-div").removeClass("hide");
                var setLeftvalue = $("#kendo-export-div").width() + $("#sideBarMain").width() + 100;
                $("#kendo-export-div").css("left", setLeftvalue + "px");
                $("#grid-kpi-trends-all").getKendoGrid().saveAsPDF().done(function () {
                    $("#kendo-export-div").addClass("hide");
                    //$("#grid-supplier-scorebyKPI .k-i-collapse").trigger("click");
                    $("#btnPdfKPIExportAll").find(".fa").addClass("hide");
                });
            });
        }
    });


    //function collapseAll(id) {
    //    $("#" + id).find(".k-icon.k-i-collapse").trigger("click");
    //}

    //function expandAll(id) {
    //    $("#" + id).find(".k-icon.k-i-expand").trigger("click");
    //}

    //function expandCollapse(id) {
    //    var collapse = $("#" + id).find(".k-icon.k-i-collapse");
    //    if (collapse.length > 0) {
    //        $("#" + id).find(".k-icon.k-i-collapse").trigger("click");
    //    }
    //    else {
    //        $("#" + id).find(".k-icon.k-i-expand").trigger("click");
    //    }
    //}

</script>
