@{
    ViewBag.Title = "Category Analysis";
}
<script src="~/Scripts/Merlin/serviceAPICategory.js?v=@System.Configuration.ConfigurationManager.AppSettings["APP_VERSION"]"></script>
<div id="categoryAnalysis" class="padding-top-15">
    <div id="chipsContainer" class="padding-bottom-15">
        @*<div class="chips" id="chipsPerception" title="Click here to navigate to ' + textvar + ' page">test</div>*@
    </div>
    <h1 class="no-margin padding-bottom-15 ">Category Analysis &nbsp;<span class="btn btn-primary printAll" onclick="dashboardprintAll('Category Analysis')">Print All</span></h1>
    <div class="pageContent hide" id="admin-user">
        Please <strong>@Html.ActionLink("click here", "MemberProfile", "Admin")</strong> to select the client you want to see the report
    </div>
    <div class="pageContent hide" id="no-survey-data-normal">
        No survey data exists. Please contact administrator
    </div>
    <div class="row hide" id="data-avail">
        <div class="col-md-12 margin-bottom-20 hidden-print">
            <div class="pageContent">
                <div class="no-margin-bottom">
                    <div class="row">
                        <div class="col-sm-12  col-md-3">
                            <label class="padding-bottom-5">Category</label><br />
                            <select class="form-control" id="ddl-category"></select>
                        </div>
                        <div class="col-sm-12  col-md-3">
                            <label class="padding-bottom-5">Metric</label><br />
                            <select class="form-control" id="ddl-metric"><option value="0">-- Select Metric --</option></select>
                        </div>
                        <div class="col-sm-12  col-md-3">
                            <label class="padding-bottom-5">KPI</label><br />
                            <select class="form-control" id="ddl-kpi"><option value="0">-- Select KPI --</option></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 margin-bottom-20 h3" id="selected_filter">
            >> <span class="subTitleCat"></span> <span class="subTitleMet"></span><span class="subTitleKpi"></span>
        </div>

        <div class="col-md-12 margin-bottom-20">
            <div class="chartBody padding-bottom-5" id="supplierRatingContainer">
                <div class="chartTitle">
                    <span></span><sup class='noteIconSup'><i class='fa fa-asterisk'></i></sup>
                    <i class="fa fa fa-search-plus zoomIn pull-right chartIcon" id="supplierRatingZoom" onclick="zoom('categoryAnanlysis')">&nbsp;Zoom</i>
                    @*<i id="btn-sort" class="fa fa-sort pull-right chartIcon" aria-hidden="true" title="Sort" onclick="sort('categoryAnanlysis', true, false, true)"></i>*@
                    <div class="dropdown pull-right exportBtn">
                        <i class="fa fa-download pull-right chartIcon" data-toggle="dropdown">&nbsp;Download</i>
                        <ul class="dropdown-menu" id="supplierRatingExport">
                            <li><a href="#" onclick="exportChartCategoryAnalysis(this,'pptx')">Powerpoint<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>
                            <li><a href="#" onclick="exportChartCategoryAnalysis(this, 'pdf')">PDF<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>
                            <li><a href="#" onclick="exportChartCategoryAnalysis(this, 'excel')">Excel<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>
                        </ul>
                    </div>
                    <i id="supplierRatingPrint" class="fa fa-print pull-right chartIcon" aria-hidden="true" onclick="dashboardprint('supplierRatingContainer','Category Analysis')">&nbsp;Print</i>

                </div>
                <div class="chartSubTitle" id="chartSubTitle">Average Rating</div>
                <div class="hchart height-300 width-100" id="categoryAnanlysis"></div>
            </div>
            <div class="margin-top-10 noteText hidden-print"><span class="noteIcon fa fa-asterisk"></span>&nbsp;<strong>Note:</strong> Click on the supplier bar to view the supplier scorecard.</div>
        </div>
    </div>
</div>

<script type="text/javascript">
    if (localStorage.getItem("breadcrumb") != null) {
        var breadcrumb = JSON.parse(localStorage.getItem("breadcrumb"));
        var element = ''; var removecurrentPage = false; var index = -1;
        for (var i = 0; i < breadcrumb.length; i++) {
            var textvar = '', value = '';
            for (var k in breadcrumb[i]) {
                textvar = k;
                value = breadcrumb[i][k];
            }
            if (textvar == 'Category Analysis') {
                removecurrentPage = true; index = i;
            }
            else
                element += '<div class="chips" id="chipsPerception" title="Click here to navigate to ' + textvar + ' page"><a href="' + value + '"> ' + textvar + ' </a></div>';
        }
        $("#chipsContainer").html(element);
        if (removecurrentPage)
            breadcrumb.splice(index, 1);
        breadcrumb.push({ "Category Analysis": '@Url.Action("Index", "CategoryAnalysis")' });
        localStorage.setItem("breadcrumb", JSON.stringify(breadcrumb));
    }

    var companyId = ('@Session["isAdmin"]' == 'True' ? localStorage.getItem("selectedMember") : '@Session["CompanyId"]');
    var selectedCategory = '@ViewBag.CategoryId';
    var selectedMetric = '', selectedKPI = '';

    $(document).ready(function () {
        $("#supplierRatingContainer .chartTitle span").text(config_data.CategoryAnalysisTitle);
        //check is admin and survey data availability
        if (pageInit(companyId, '@Session["isAdmin"]') == true) {
            getLookup(companyId, 'Category', function () {
                if (selectedCategory != '0') {
                    $("#ddl-category").val(selectedCategory);
                    //localStorage.setItem("ca_categoryId", selectedCategory);
                    //localStorage.setItem("sc_categoryId", selectedCategory);
                    localStorage.setItem("categoryId", selectedCategory);
                }
                if (localStorage.getItem("categoryId") != null && selectedCategory == '0') { //localStorage.getItem("ca_categoryId") != null
                    loadfromLocalStorage();
                } else {
                    $("#selected_filter .subTitleCat").text("Category: " + $("#ddl-category option:selected").text());
                    $("#page-spinner").show();
                    getFilterByCategory(companyId, 'metric', $("#ddl-category").val(), '', function () {
                        getScore();
                    });
                }

            });
        }
    });

    function loadfromLocalStorage() {
        if (localStorage.getItem("categoryId") != null) {//localStorage.getItem("ca_categoryId") != null
            $("#ddl-category").val(localStorage.getItem("categoryId"));//localStorage.getItem("ca_categoryId")
            $("#selected_filter .subTitleCat").text("Category: " + $("#ddl-category option:selected").text());
            getFilterByCategory(companyId, 'metric', $("#ddl-category").val(), '', function () {
                if (localStorage.getItem("ca_metricId") != null) {
                    $("#ddl-metric").val(localStorage.getItem("ca_metricId"));
                    $("#selected_filter .subTitleMet").text(", Metric: " + $("#ddl-metric option:selected").text());
                    getFilterByCategory(companyId, 'kpi', $("#ddl-category").val(), localStorage.getItem("ca_metricId"), function () {
                        isSortedAsc["categoryAnanlysis"] = false;
                        if (localStorage.getItem("ca_kpiId") != null) {
                            $("#ddl-kpi").val(localStorage.getItem("ca_kpiId"));
                            $("#selected_filter .subTitleKpi").text(", KPI: " + $("#ddl-kpi option:selected").text());
                        }
                        getScore();
                    });
                }
                else
                    getScore();
            });
        } else {
            getScore();
        }
    }

    $("#ddl-category").change(function () {
        $("#page-spinner").show();
        localStorage.removeItem("ca_metricId");
        localStorage.removeItem("ca_kpiId");

        var selValue = this.value;
        $("#selected_filter .subTitleKpi").text("");
        $("#selected_filter .subTitleMet").text("");
        $("#selected_filter .subTitleCat").text("Category: " + $("#ddl-category option:selected").text());
        //localStorage.setItem("ca_categoryId", selValue);
        //localStorage.setItem("sc_categoryId", selValue);

        localStorage.setItem("categoryId", selValue);
        localStorage.removeItem("sc_supplierId");

        getFilterByCategory(companyId, 'metric', selValue, '', function () {
            isSortedAsc["categoryAnanlysis"] = false;
            getScore();
        });
    });

    $("#ddl-metric").change(function () {
        $("#page-spinner").show();

        localStorage.removeItem("ca_kpiId");

        var selValue = this.value;
        $("#selected_filter .subTitleKpi").text("");

        if (selValue == 0) {
            $("#selected_filter .subTitleMet").text("");
            localStorage.removeItem("ca_metricId");
        }
        else {
            $("#selected_filter .subTitleMet").text(", Metric: " + $("#ddl-metric option:selected").text());
            localStorage.setItem("ca_metricId", selValue);
        }

        //localStorage.setItem("ca_categoryId", $("#ddl-category").val());
        //localStorage.setItem("sc_categoryId", $("#ddl-category").val());

        localStorage.setItem("categoryId", $("#ddl-category").val());
        localStorage.removeItem("sc_supplierId");

        getFilterByCategory(companyId, 'kpi', $("#ddl-category").val(), selValue, function () {
            isSortedAsc["categoryAnanlysis"] = false;
            getScore();
        });
        $("#page-spinner").show();
    });

    $("#ddl-kpi").change(function () {
        $("#page-spinner").show();
        var selValue = this.value;
        if (selValue == 0) {
            $("#selected_filter .subTitleKpi").text("");
            localStorage.removeItem("ca_kpiId");
        }
        else {
            $("#selected_filter .subTitleKpi").text(", KPI: " + $("#ddl-kpi option:selected").text());
            localStorage.setItem("ca_kpiId", selValue);
        }

        //localStorage.setItem("ca_categoryId", $("#ddl-category").val());
        //localStorage.setItem("sc_categoryId", $("#ddl-category").val());

        localStorage.setItem("categoryId", $("#ddl-category").val());
        localStorage.removeItem("sc_supplierId");
        localStorage.setItem("ca_metricId", $("#ddl-metric").val());

        isSortedAsc["categoryAnanlysis"] = false;
        getScore();
    });

    function getScore() {
        if ($("#ddl-category").val() == undefined) {
            $("#page-spinner").hide();
            failureAlert('Please select category to view the report');
            return;
        }
        getSupplierScoreByCategory(companyId);
    }
</script>