@using Ceb.MerlinTool;
@{
    ViewBag.Title = "Overall Page";
}
<script src="~/Scripts/Merlin/serviceAPIOverAll.js?v=@System.Configuration.ConfigurationManager.AppSettings["APP_VERSION"]"></script>

<div id="importFile" class="padding-top-15">
    
    <h1 class="no-margin padding-bottom-15 ">Overall View&nbsp;<span id="zoomNoteText">(Click on Zoom button to view all suppliers)</span> &nbsp;<span class="btn btn-primary printAll" onclick="dashboardprintAll('Overall View')">Print All</span></h1>
    <div class="pageContent hide" id="admin-user">
        Please <strong>@Html.ActionLink("click here", "MemberProfile", "Admin")</strong> to select the client you want to see the report
    </div>
    <div class="pageContent hide" id="no-survey-data-normal">
        No survey data exists. Please contact administrator
    </div>
    <div class="row hide" id="data-avail">
        <div class="col-md-12 margin-bottom-20">
            <div class="chartBody" id="supplierRatingContainer">
                <div class="chartTitle">
                    <span></span>
                    <i class="fa fa fa-search-plus zoomIn pull-right chartIcon" id="btn-zoom" onclick="zoom('overallScore')">&nbsp;Zoom</i>
                    <i id="btn-sort" class="fa fa-sort pull-right chartIcon" aria-hidden="true" onclick="sort('overallScore',true,false,true)">&nbsp;Sort</i>
                    <div class="dropdown pull-right exportBtn">
                        <i class="fa fa-download pull-right chartIcon" data-toggle="dropdown">&nbsp;Download</i>
                        <ul class="dropdown-menu" id="supplierRatingExport">
                            <li><a href="#" onclick="exportChartOverall(this,'pptx')">Powerpoint<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>
                            <li><a href="#" onclick="exportChartOverall(this, 'pdf')">PDF<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>
                            <li><a href="#" onclick="exportChartOverall(this, 'excel')">Excel<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>
                        </ul>
                    </div>
                    <i id="btn-print" class="fa fa-print pull-right chartIcon" aria-hidden="true" onclick="dashboardprint('supplierRatingContainer', 'Overall View')">&nbsp;Print</i>
                </div>
                <div class="chartSubTitle" id="chartSubTitle"></div>
                <div class="hchart height-300 width-100" id="overallScore"></div>
            </div>
        </div>
        <div class="col-md-12 margin-bottom-20   hidden-print" id="tableChartDiv">
            <div class="chartBody" id="kendoGrid">
                <div class="chartTitle">
                    <span> </span>
                    <div class="dropdown pull-right exportBtn">
                        <i class="fa fa-download pull-right chartIcon" data-toggle="dropdown">&nbsp;Download</i>
                        <ul class="dropdown-menu" id="matricRatingExport">
                            <li><a href="#" class="export-pdf" id="btnPdfExport">PDF<i class="fa fa-spinner fa-spin  exportLoaderIcon pull-right hide"></i></a></li>
                            <li><a href="#" onclick="exportGridData(this, 'excel')">Excel<i class="fa fa-spinner fa-spin exportLoaderIcon pull-right hide"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="chartSubTitle"></div>
                <div class="table width-100 tableChart customKendoTabel height-min-200" id="customKendoTabel">
                    <div class="margin-10" id="grid-ratings"></div>
                </div>
                <div class="margin-10 no-margin-top noteText hidden-print"><span class="noteIcon fa fa-asterisk"></span>&nbsp;<strong>Note:</strong> Click on category to navigate to category analysis details.</div>
            </div>
        </div>
    </div>
</div>
<div id="kendo-export-div" class="table width-100 tableChart customKendoTabel hide">
    <div id="grid-ratings-export"></div>
</div>

<input type="hidden" value="" id="selCategory" />
<script>
    var breadCrumb = [];
    breadCrumb[0] = {"Overall View":'@Url.Action("Overall", "Home")'};
    localStorage.setItem("breadcrumb",JSON.stringify(breadCrumb));

    var companyId = ('@Session["isAdmin"]' == 'True' ? localStorage.getItem("selectedMember") : '@Session["CompanyId"]');
    $(document).ready(function () {
        $("#page-spinner").show();
        $("#supplierRatingContainer .chartTitle span").text(config_data.OverallTitle);
        $("#supplierRatingContainer .chartSubTitle").text(config_data.OverallSubTitle);
        $("#tableChartDiv .chartTitle span").text(config_data.OverallGridTitle);
        $("#tableChartDiv .chartSubTitle").text(config_data.OverallGridSubTitle);

        //check is admin and survey data availability
        if (pageInit(companyId, '@Session["isAdmin"]') == true) {
            $("#page-spinner").show();
            getOverAllScore(companyId);
        }
    });

    //PDF Export
    // Import DejaVu Sans font for embedding

    // NOTE: Only required if the Kendo UI stylesheets are loaded
    // from a different origin, e.g. cdn.kendostatic.com
    kendo.pdf.defineFont({
        "DejaVu Sans": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans.ttf",
        "DejaVu Sans|Bold": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Bold.ttf",
        "DejaVu Sans|Bold|Italic": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
        "DejaVu Sans|Italic": "https://kendo.cdn.telerik.com/2016.2.607/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf",
        "WebComponentsIcons": "https://kendo.cdn.telerik.com/2017.1.223/styles/fonts/glyphs/WebComponentsIcons.ttf"
    });

    $("#btnPdfExport").kendoButton({
        click: function () {
            processKendoForExport(function () {
                $("#btnPdfExport").find(".fa").removeClass("hide");
                $("#kendo-export-div").removeClass("hide");
                var setLeftvalue = $("#kendo-export-div").width() + $("#sideBarMain").width() + 100;
                $("#kendo-export-div").css("left", setLeftvalue + "px");
                $("#grid-ratings-export").getKendoGrid().saveAsPDF();
                $("#kendo-export-div").addClass("hide");
                $("#btnPdfExport").find(".fa").addClass("hide");
            });
        }
    });

    //navigation to category analysis on click of category inside the grid
    function categorytemplate(value) {
        //localStorage.removeItem("ca_categoryId");
        localStorage.removeItem("categoryId");
        localStorage.removeItem("ca_metricId");
        localStorage.removeItem("ca_kpiId");
        window.location = "@Url.Action("Index", "CategoryAnalysis")?id=" + value;
    }

    //$("#btn-sort").click(function () {
    //    sort("overallScore");
    //});

    //$("#btn-zoom").click(function () {
    //    zoom();
    //});

    //$('#btn-print').click(function () {
    //    dashboardprint('chartBody');
    //});
</script>

<!-- Load Pako ZLIB library to enable PDF compression -->
@*<script src="https://kendo.cdn.telerik.com/2017.2.621/js/pako_deflate.min.js"></script>*@
