<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Merlin Online Reporting Tool">
    <title>Merlin Online Reporting Tool</title>

    <link href="~/images/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    @Scripts.Render("~/bundles/scripts")
    @Styles.Render("~/Content/css")

    <script type="text/javascript">
        Highcharts.setOptions({ lang: { noData: "No data to display" } });
        //function disableBackButton() {
        //    window.history.forward();
        //}
        //setTimeout("disableBackButton()", 0);
    </script>


</head>
<body>
    <!-- Header Start -->
    <div>
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation" id="header">
            @*<div class="container-fluid ceb-container">*@
            <div class="container-fluid">
                <!-- Project Title -->
                <div class="navbar-header inlineBlock">
                    <div class="navbar-brand">
                        <img src="~/Images/gartner_logo_white.png" class="pull-left" /><div id="projectTitle" class="pull-left">
                            <div id="mainTitle">
                                <span>Merlin Online Reporting Tool<hr /> </span>

                                <div id="subTitle"> @Session["Company"]</div>
                            </div>

                        </div>
                    </div>
                </div>


                <!-- Top Navigations -->
                <ul class="nav navbar-nav pull-right">
                    @if (Convert.ToString(Session["SummaryReportName"]).Length != 0 && !Convert.ToBoolean(Session["IsAdmin"]))
                    {
                        <li>
                            <a href="~/Admin/Download?folderPath=@Session["SummaryReportPath"]&fileName=@Convert.ToString(Session["SummaryReportName"])" id="downloadReport" title="Click here to download full report">
                                Download Full Report
                            </a>
                        </li>
                    }
                    <li>
                        <div class="dropdown" id="userIcon">
                            <div data-toggle="dropdown" class="userIcon" style="display: table;">
                                <strong style="vertical-align: middle; display: table-cell; color: #fff; font-size: 12px;">@Session["UserName"]</strong> &nbsp; &nbsp; <img src="~/Images/userIcon.png">
                            </div>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li>@Session["Email"]</li>
                                <li><a href="~/Account/Logout" id="lnkLogOut">Logout</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
    <!-- Header End -->
    <!-- Page Content Start -->
    <div class="container-fluid" id="page-content-wrapper">
        <div class="row row-eq-height">
            <div class="col-sm-12  col-md-2 grayBackground no-padding" id="sideBarMain">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse no-padding" id="myNavbar">

                    <div class="filterDataSections">
                        <div class="section">
                            <div class="sectionTitle">
                                <a href="~/Account/About" class=@(ViewBag.Page=="About" ? "active":"")>
                                    <i class="fa fa-home"></i> <span>About</span>
                                </a>
                            </div>
                        </div>

                        <div class="section">
                            <div class="sectionTitle">
                                <a href="~/Home/Overall" class=@(ViewBag.Page == "Overall" ? "active" : "")>
                                    <i class="glyphicon glyphicon-th-large"></i> <span>Overall View</span>
                                </a>
                            </div>
                        </div>
                        <div class="section">
                            <div class="sectionTitle">
                                <a href="~/CategoryAnalysis/Index" class=@(ViewBag.Page == "Category Analysis" ? "active" : "")>
                                    <i class="fa fa-pie-chart v-center"></i> <span class="v-center">Category Analysis</span>
                                </a>
                            </div>
                        </div>

                        <div class="section">
                            <div data-toggle="collapse" data-target="#section4" class="sectionTitle sectionSubTitle">
                                <a href="#">

                                    <i class="glyphicon glyphicon-stats"></i>
                                    <span>Supplier Analysis</span>
                                    <span class="pull-right-container">
                                        <i class="arrowIcon fa fa-angle-right pull-right"></i>
                                    </span>
                                </a>
                            </div>
                            <div id="section4" class="collapse sectionCotent @((ViewBag.Page == "Supplier Scorecard" || ViewBag.Page == "Perception Gaps" || ViewBag.Page == "Trend Analysis") ? "in" : "")">
                                <ul class="treeview-menu">
                                    <li>
                                        <a href="~/SupplierAnalysis/SupplierScorecard" class=@(ViewBag.Page == "Supplier Scorecard" ? "active" : "")>
                                            <i class="fa fa-bar-chart"></i> Supplier Scorecard
                                        </a>
                                    </li>
                                    <li><a href="~/SupplierAnalysis/PerceptionGaps" class=@(ViewBag.Page == "Perception Gaps" ? "active" : "")><i class="fa fa-chain-broken"></i> Perception Gap</a></li>
                                    @*<li class="disabled"><a href="#"><i class="fa fa-chain-broken"></i> Perception Gaps</a></li>*@
                                    <li><a href="~/SupplierAnalysis/TrendAnalysis" class=@(ViewBag.Page == "Trend Analysis" ? "active" : "")><i class="fa fa-calendar"></i> Trend Analysis</a></li>
                                    @*<li class="disabled"><a href="#"><i class="fa fa-chain-broken"></i> Perception Gaps</a></li>
                                        <li><a href="~/SupplierAnalysis/TrendAnalysis" class=@(ViewBag.Page == "Trend Analysis" ? "active" : "")><i class="fa fa-calendar"></i> Trend Analysis</a></li>*@
                                </ul>
                            </div>
                        </div>
                        @if (Convert.ToBoolean(Session["IsAdmin"]))
                        {
                            <div class="section">
                                <div data-toggle="collapse" data-target="#section5" class="sectionTitle sectionSubTitle">
                                    <a href="#">
                                        <i class="glyphicon glyphicon-cog"></i>
                                        <span>Admin Configuration</span>
                                        <span class="pull-right-container">
                                            <i class="arrowIcon fa fa-angle-right pull-right"></i>
                                        </span>
                                    </a>
                                </div>
                                <div id="section5" class="collapse sectionCotent @((ViewBag.Page == "Import File" || ViewBag.Page == "Access Details" || ViewBag.Page == "Client Profile") ? "in" : "")">
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="~/Admin/MemberProfile" class=@(ViewBag.Page == "Client Profile" ? "active" : "")>
                                                <i class="fa fa-list"></i> <span>Client Profile</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/Admin/AccessDetails" class=@(ViewBag.Page == "Access Details" ? "active" : "")>
                                                <i class="fa fa-check-square"></i> <span>Access Details</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="~/Admin/ImportFile" class=@(ViewBag.Page == "Import File" ? "active" : "")>
                                                <i class="glyphicon glyphicon-import"></i> <span>Add Survey Data</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-10" id="main-content-area">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- Page Content End -->
    <!-- Footer Start  -->
    <div id="footer">
        <div class="container-fluid ceb-container">
            <div class="footerNote"><strong>Note:</strong>&nbsp;Since access to this tool is restricted to individuals designated by your procurement leader, if anyone leaves the company and access should be removed, please let us know by emailing <a class="footer-link" href="mailto:ProcurementDiagnosticsTeam@Gartner.com">ProcurementDiagnosticsTeam@Gartner.com </a></div>
            <div id="copyrightLinks">           
                &copy; @DateTime.Now.Year Gartner, Inc. and/or its affiliates. All rights reserved.&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="footer-link" href="https://www.gartner.com/technology/about/policies/terms_of_use.jsp" target="_blank">Terms of Service</a>
                &nbsp;&#124;&nbsp;
                <a class="footer-link" href="https://www.gartner.com/en/about/policies/privacy" target="_blank">Privacy Statement</a>              
                &nbsp;&#124;&nbsp;
                <a class="footer-link" href="https://www.gartner.com/technology/about/policies/copyright.jsp" target="_blank">Copyright Inquiries</a>
                &nbsp;&#124;&nbsp;
                <a class="footer-link" href="https://www.gartner.com/technology/site-index.jsp" target="_blank">Site Map</a>
            </div>
        </div>
    </div>
    <!-- Footer End  -->

    <div class="spinner-container" id="page-spinner">
        <div class="spinner-overlay"></div>
        <div class="spinner"></div>
    </div>
    <input type="hidden" name="selectedSupplier" value="" id="selectedSupplier" />
    <!-- Chart Popup -->
    <div class="modal fade" id="chartPopupModal" tabindex="-1" role="dialog" data-backdrop="true">
        <div class="modal-dialog modal-lg" role="document">
            <div id="chartPopupCloseBtn"></div>
            <div class="modal-content">
                <div class="modal-body">
                    <div class="chartBody">
                        <div class="chartTitle">
                            <span class="message">Chart Title</span>
                        </div>
                        <div class="chartSubTitle">Average Supplier Rating</div>
                        <div class="hchart height-500" style="width:99%" id="popupChart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="successMsgModal" tabindex="-1" role="dialog" data-backdrop="true">
        <div class="modal-dialog small" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="no-margin padding-top-5 padding-bottom-5">
                        <span class="success"><i class="fa fa-check-circle" aria-hidden="true"></i></span>&nbsp;&nbsp;<span class="message">Download failed. Please try again later.</span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="failureMsgModal" tabindex="-1" role="dialog" data-backdrop="true">
        <div class="modal-dialog small" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="no-margin padding-top-5 padding-bottom-5">
                        <span class="error"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>&nbsp;&nbsp;<span class="message">Download failed. Please try again later.</span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="informationMsgModal" tabindex="-1" role="dialog" data-backdrop="true">
        <div class="modal-dialog medium" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="no-margin padding-top-5 padding-bottom-5">
                        <span class="info "><i class="fa fa-exclamation-circle linkText" aria-hidden="true"></i></span>&nbsp;&nbsp;<span class="message"></span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" data-backdrop="true">
        <div class="modal-dialog small" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="md-col-12 margin-left-15 margin-bottom-15 margin-right-15 margin-top-5 message">
                            Do you want to delete records?
                        </div>
                        <div class="md-col-12">
                            <input type="button" class="btn btn-primary pull-right margin-5 margin-right-15" id="confirmBtnNo" value="No">
                            <input type="button" class="btn btn-primary pull-right margin-5" id="confirmBtnYes" value="Yes">
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <script src="~/Scripts/Merlin/UIChanges/layoutChangesUI.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            setPageHeightOnresize();
        });

        function navigateToSupplier(id) {
            //localStorage.removeItem("sc_categoryId");
            localStorage.removeItem("sc_supplierId");
            //localStorage.setItem("sc_supplierId",id);
            //localStorage.removeItem("sc_demographic");
            //localStorage.removeItem("sc_demographicOption");
            window.location = "@Url.Action("SupplierScorecard", "SupplierAnalysis")?id=" + id;
        }


        function collapseAll(id) {
            $("#" + id).find(".k-icon.k-i-collapse").trigger("click");
        }

        function expandAll(id) {
            $("#" + id).find(".k-icon.k-i-expand").trigger("click");
        }

        function expandCollapse(id) {          
            var collapse = $("#" + id).find(".k-icon.k-i-collapse");
            var iconText = $("#" + id).parents(".chartBody").find(".expandCollapseText");
            if (collapse.length > 0) {
                $("#" + id).find(".k-icon.k-i-collapse").trigger("click");
                $(iconText).text("Expand");
            }
            else {
                $("#" + id).find(".k-icon.k-i-expand").trigger("click");
                $(iconText).text("Collapse");
            }
        }

        //window.onbeforeunload = function (event) {
        //    var message = 'Important: Please click on \'Save\' button to leave this page.';
        //    if (typeof event == 'undefined') {
        //        event = window.event;
        //    }
        //    if (event) {
        //        event.returnValue = message;
        //    }
        //    return message;
        //};


        $('#lnkLogOut').click(function () {
            localStorage.clear();
            window.onbeforeunload = null;
        });


        @*$('.sectionTitle a').on('click', function () {
            var $this = $(this);
            var textvar = $this.text().trim();
            var $bc = $(' <div class="chips" id="chipsPerception" title="Click here to navigate to ' + textvar + ' page">' + textvar + '</div>');
            $('#chipsContainer').html($bc.prepend('<a href="#"@Url.Action("SupplierScorecard", "SupplierAnalysis")">' + textvar + '</a>'));
            return true;
        })*@
    </script>
</body>
</html>
